@use "./variables" as *;

.buttons{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;

    &__button{
        background-color: $color-dark-grey;
        padding: 20px;
        border-radius: 50%;
        outline: none;
        border: none;
        font-size: 1rem;
        color: $color-white;

        &--extention{
            display: none;
        }

        &--orange{
            background-color: $color-orange;
        }

        &--light-grey{
            background-color: $color-light-grey;
        }

        &--zero{
            grid-column: 1/3;
            border-radius: 40%;
        }
    }
}

@media screen and (min-width: 567px){
    .buttons{
        display: unset;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);

        &__button{

            &--zero{
                grid-column: 2/4;
            }

            &--extention{
                display: unset;
            }
        }
    }
}