@use "./variables" as *;

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    &__button{
        background-color: $color-dark-grey;
        padding: 30px;
        border-radius: 50%;
        outline: none;
        border: none;

        &--orange{
            background-color: $color-orange;
        }

        &--light-grey{
            background-color: $color-light-grey;
        }
    }
}