@use "./variables" as *;

.calculator{
    margin: 5px;
    background-color: $color-black;
    border: 2px solid red;
    box-shadow: 6px 6px 10px 6px $color-light-grey;
    border-radius: 5px;
    width: 400px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display{
    margin: 10px;
    background-color: $color-light-grey;
    border: 2px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__text{
        padding: 10px 5px;
        color: $color-white;
    }
}