@use "./variables" as *;

.calculator{
    background-color: $color-black;
    border: 2px solid red;
    box-shadow: 6px 6px 10px 6px $color-light-grey;
    border-radius: 5px;
    width: 400px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    


    &__output{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 5px solid red;
        color: $color-white;
    }
}