@use "./variables" as *;
@use "./buttons";
@use "./calculator";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-main;
}

body{
    background-color: $color-light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#Guard{
    display: none;
}